$grayblue: hsl(220, 15%, 55%);
$darkblue: hsl(218, 44%, 22%);

$lightgray: hsl(212, 45%, 89%);
$darkgray: hsl(228, 12%, 48%);

$blue: rgb(58, 127, 255);
$lightblue: rgba(96, 158, 250, 0.342);

$white: hsl(0, 0%, 100%);